.filterBar {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 2%;
}

.label {
    padding: 7px;
    white-space: nowrap;
}

.button {
    background-color: #198754;
    border: transparent;
    border-radius: 0.25rem;
    color: white;
    padding: 0.3rem 0.75rem;
    margin-top: 1%;
}

.footer {
    margin-left: 2%;
    font-size: 18px;
    line-height: 2.0;
}
